@CHARSET "utf-8";

@font-face {
    font-family: Open_Sans;
    src: url(../font/Open_Sans/OpenSans-Regular.ttf);
}

html, body{
	padding: 0px;
	margin: 0px;
}

body{
	font-size: 14px;
	font-family:Open_Sans;
	color:#4a4a4a;
	letter-spacing: 0.6px;
}

a:hover{text-decoration:none;color:blue;}
ul{margin:0px;padding:0px;}
li{list-style:none;}
p{margin:0px;padding:0px;}

.wapper{
	width: 100%;
}

.main{
	width: 90%;
	margin: auto;
}

.main70{
	width: 70%;
	margin: auto;
}

.clear{
	clear: both;
}
.fl-l{
	float: left;
}
.fl-r{
	float: right;
}

.content-width{
	width: 80%;
}

.width-auto{
	width: auto;
}

.width40px{
	width: 40px !important;	
}
.width95{
	width: 95% !important;
}

.text-limit{
	white-space: nowrap; 
	overflow: hidden;
    text-overflow: ellipsis; 
}
.font-weight-normal{
	font-weight: normal;
}

.display-none{
	display: none !important;
}

.display-flex{
	display: flex;
}

.line{
	width: 100%;
	height: auto;
}

.position-relative{
	position: relative;
}

.position-absolute{
	position: absolute;
}

.text-level-1{
	color: #767d72;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
}

.text-level-2{
	color: #98a58f;
	width: 100%;
	font-weight: bold;
}

.text-level-3{
	color : #bdc9b6;
	width: 100%;
}

.text-align-right{
	text-align: right;
}

.mar-t-7px{
	margin-top: 7px;
}

.mar-t-10px{
	margin-top: 10px;
}

.mar-t-20px{
	margin-top: 20px;
}

.mar-t-30px{
	margin-top: 30px;
}

.mar-r-10px{
	margin-right: 10px;
}

.mar-b-10px{
	margin-bottom: 10px;
}

.fontsize24{
	font-size: 24px;
}

.fontsize58{
	font-size: 58px;
}

.fontweight-bold{
	font-weight: bold;
}

.nicescroll-rails{
	width: 10px !important;
}
.nicescroll-rails > div{
	width: 10px !important;
}